
docker.enabled = false
singularity.enabled = true

process.container = "compleasm_hifiasm_953a436935c830be.sif"

// Profile parameters
profiles {
    standard {
        process.executor = 'local'
        }
    slurm {
        process.executor = 'slurm'
        process.clusterOptions = '-A naiss2025-22-471'
    }
    }

// Run parameters

// Cluster options for hifiasm
params.hifiasm_threads = '164'
params.hifiasm_time = '10h'
params.hifiasm_queue = 'main'


// Cluster options for gfa2fa (should never need more than one thread and one hour, so these are hardcoded in the process)
params.gfa2fa_queue = 'shared'

// Cluster options for asmStats (should never need more than one thread and one hour, so these are hardcoded in the process)
params.asmStats_queue = 'shared'

// Cluster options for compleasm
params.compleasm_threads = '10'
params.compleasm_time = '5h'
params.compleasm_queue = 'shared'
// run options for compleasm
params.compleasm_lineage = 'mammalia'
params.compleasm_odb = 'odb10'
params.compleasm_db_loc = 'compleasm_db'

params.input_reads = 'input_reads.csv'

