
// Conda
conda.enabled = false
process.conda = "/cfs/klemming/projects/supr/snic2022-6-144/AXEL/software/miniforge/envs/assembly_env"

// Apptainer/Singularity (currently merqury is not working with singularity, so restricted to conda for now)
// singularity.enabled = true
// process.container = "busco_hifiasm_merqury_meryl_1ab574004708b191.sif"

// Profile parameters
profiles {
    standard {
        process.executor = 'local'
        }
    slurm {
        process.executor = 'slurm'
        process.clusterOptions = '-A naiss2025-22-471'
    }
    }

// Run parameters

// Cluster options for hifiasm
params.hifiasm_threads = '64'
params.hifiasm_time = '5h'
params.hifiasm_queue = 'shared'

// Cluster options for gfa2fa (should never need more than one thread and one hour, so these are hardcoded in the process)
params.gfa2fa_queue = 'shared'

// Cluster options for asmStats (should never need more than one thread and one hour, so these are hardcoded in the process)
params.asmStats_queue = 'shared'

// Cluster options for meryl
params.merylCounts_threads = '64'
params.merylCounts_time = '5h'
params.merylCounts_queue = 'shared'
params.meryl_kmer_size = 21

// Cluster options for merqury
params.merqury_threads = '64'
params.merqury_time = '5h'
params.merqury_queue = 'shared'

// cluster options for busco
params.busco_threads = '164'
params.busco_time = '24h'
params.busco_queue = 'main'
params.busco_lineage = 'mammalia_odb12'


